<?xml version="1.0"?>
<config>
    <modules>
        <Codezur_Puntoventaonline>
            <version>0.1.0</version>
            <active>true</active>
            <codePool>local</codePool>
        </Codezur_Puntoventaonline>
    </modules>
    <global>
        <blocks>
            <vian_tutorial>
                <class>Codezur_Puntoventaonline_Block</class>
            </vian_tutorial>
        </blocks>
        <helpers>
            <vian_tutorial>
                <class>Codezur_Puntoventaonline_Helper</class>
            </vian_tutorial>
        </helpers>
        <models>
            <vian_tutorial>
                <class>Codezur_Puntoventaonline_Model</class>
            </vian_tutorial>
        </models>
        <events>  
            <sales_order_place_after><!--Nombre del observer en magento-->  
                <observers>  
                    <codezur_puntoventaonline>
                        <type>singleton</type>  
                        <class>Codezur_Puntoventaonline_Pay_Order_Model_Observer</class>  
                        <method>onOrderComplete</method>  
                    </codezur_puntoventaonline>  
                </observers>  
            </sales_order_place_after>  
        </events> 
        <events>
            <customer_login>
                <observers>
                    <customer_login>
                        <type>singleton</type>
                        <class>Codezur_Puntoventaonline_Pay_Order_Model_Observer</class>
                        <method>customerLogin</method>
                    </customer_login>
                </observers>
            </customer_login>
        </events> 
    </global>
</config>